<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Waiting for a trial to start</title>
<script>
    setTimeout(function(){ 
        window.location.replace("./login.php"); 
    }, 10000);
</script> 
</head>
<body>
    <div>The next trial will being in: {{wait_time}}</div>
    <div>This page will refresh every 10 seconds</div>
</body>
</html>